@media (max-width: 580px){
    .swipe-head1{
        width: 160px;
        /* border-radius: 3rem; */
    }
    .movie-heading{
        font-size: 1.4rem;
        padding: 30px 0px 20px 0;
    }
    .head-data1{
        font-size: 14px;
    }
}
@media (max-width: 473px){
    .swipe-head1{
        width: 130px;
        /* border-radius: 3rem; */
    }
}